.set_first {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.elements_second {
	height: 465px;
	overflow-y: auto;
}

.elements_look_third {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.element_price_fourth {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 568px;
	height: 64px;
	margin-right: 40px;
	margin-left: 16px;
}

.element_cost_fifth {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 119px;
	height: 64px;
	border-width: 1px;
}

.element_cost_sixth {
	display: flex;
	align-items: center;
	gap: 8px;
	height: 100%;
	margin-bottom: 4px;
	padding: 4px;
	background: #000000;
}

.style_ml24 {
	margin-left: 24px;
}

.style_ml56 {
	margin-left: 56px;
}

.style_ml40 {
	margin-left: 40px;

	/* margin-right: 24px;  */
}

.style_ml24_mb40 {
	margin-bottom: 40px;
	margin-left: 24px;
}

.style_text_large {
	font-weight: 400;
	font-size: 48px;
	font-family: 'Iceland', cursive;
	line-height: 1.5;
	letter-spacing: 0%;
	text-align: right;
	vertical-align: middle;
}

.style_button_order {
	margin-right: 24px;
}
